<launch>

	<node name="axis_publish" pkg="axis_camera" type="axis.py" />
	<node name="axis_ptz" pkg="axis_camera" type="axis_ptz.py" />
	<node name="ros_project" pkg="ros_project" type="Server" output="screen" />
	<node name="camera_module" pkg="usb_cam_test" type="ptzbla.py" />
	
	<node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" />
	<node name="gstreamer" pkg="rover2015" type="gstreamer.py" />
	
</launch>
