<launch>

	<node name="video_cap" pkg="rover2015" type="ptzbla_2015.py" />
	<node name="comm" pkg="rover2015" type="comm.py" />
	
	<node name="image_view" pkg="image_view" type="image_view">
		<remap from="image" to="/chatter" />
	</node>
	<node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" />
	<node name="gstreamer" pkg="rover2015" type="gstreamer.py" />
	
        <node name="serial_write" pkg="serialpy" type="serialWrite.py" />
        <node name="serial_read" pkg="serialpy" type="serialRead.py" />
        <node name="control_node" pkg="serialpy" type="controlNode.py" />
        <node name="rover_server" pkg="rovercomm" type="testserv.py" />
        <node name="temp_node" pkg="tempnode" type="temp.py" />


</launch>
